In [2]:
import pandas as pd
import requests
import boto3


from database_utils import DatabaseConnector 
from database_utils import DataExtractor
from database_utils import DataCleaning

database_connector = DatabaseConnector()
data_extractor = DataExtractor()
data_cleaning = DataCleaning()

data_extractor = DataExtractor()
my_bucket = data_extractor.extract_from_s3('s3://data-handling-public/products.csv')
print(my_bucket)

      Unnamed: 0                                 product_name product_price
0              0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99  \
1              1          Tiffany's World Day Out At The Park        £12.99
2              2          Tiffany's World Pups Picnic Playset         £7.00
3              3     Tiffany's World Wildlife Park Adventures        £12.99
4              4                      Cosatto Cosy Dolls Pram        £30.00
...          ...                                          ...           ...
1848        1848    Goodmans Qi Autosense In Car Phone Holder        £15.00
1849        1849    Goodmans Qi Wireless Charging Phone Stand        £15.00
1850        1850                     RAC 12V Wet & Dry Vacuum        £18.00
1851        1851    Goodmans Qi Autosense In Car Phone Holder        £15.00
1852        1852               Beldray Telescopic Ladder 2.9m        £69.00

      weight        category            EAN  date_added
0      1.6kg  toys-and-games  7425710935115  2005-12-02  \
1     0.48kg  toys-and-games   487128731892  2006-01-09
2       590g  toys-and-games  1945816904649  1997-03-29
3       540g  toys-and-games  1569790890899  2013-03-20
4     1.91kg  toys-and-games  7142740213920  2007-12-23
...      ...             ...            ...         ...
1848    125g             diy  8185827751600  2020-08-28
1849    134g             diy  9769724533935  2012-05-20
1850    820g             diy  3113855860327  1993-11-28
1851    125g             diy  9195087467400  2016-09-20
1852   9.4kg             diy  8518402353072  2006-10-07

                                      uuid          removed product_code
0     83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1     712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2     b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3     d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4     7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a
...                                    ...              ...          ...
1848  3ff21cb1-8e90-499d-b5a0-6839fb83e70f  Still_avaliable  x4-2227164k
1849  a7910f74-c2b6-4144-98b7-30ca68f34d2d  Still_avaliable  i3-8338545Z
1850  66d3efa0-f480-4da9-893b-e8aaff53e27b  Still_avaliable  n4-1642658b
1851  efb472f1-8f00-448e-a874-9fa9812eeab5  Still_avaliable  A3-7619070S
1852  cfe701da-6493-4a7f-83cf-9aab1650f689  Still_avaliable  i6-2851854w

[1853 rows x 10 columns]

In [3]:
my_bucket.describe()

        Unnamed: 0
count  1853.000000
mean    926.000000
std     535.059343
min       0.000000
25%     463.000000
50%     926.000000
75%    1389.000000
max    1852.000000

In [12]:
my_bucket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1853 non-null   int64
 1   product_name   1849 non-null   object
 2   product_price  1849 non-null   object
 3   weight         1583 non-null   string
 4   category       1849 non-null   object
 5   EAN            1849 non-null   object
 6   date_added     1849 non-null   object
 7   uuid           1849 non-null   object
 8   removed        1849 non-null   object
 9   product_code   1849 non-null   object
dtypes: int64(1), object(8), string(1)
memory usage: 144.9+ KB

In [18]:
my_bucket['weight'] = my_bucket['weight'].astype('float64')

ValueError: could not convert string to float: '1.16kg'

In [19]:
  
import re 
# Define a regular expression pattern to match weight values
weight_pattern = r'^([\d\.]+)\s*(kg|g|ml|l|oz|lb)$'
        
# Define a conversion factor for ml to g
ml_to_g_factor = 1
     
# Define a dictionary mapping weight units to conversion factors
conversion_factors = {
            'kg': 1,
            'g': 0.001,
            'ml': ml_to_g_factor,
            'l': 1000,
            'oz': 0.0283495,
            'lb': 0.453592
        }
        
# Clean up the weight column by removing excess characters
my_bucket['weight'] = my_bucket['weight'].str.replace('[^0-9\.kgml]', 'kg', regex=True)
        
# Convert each weight value to a decimal value in kg
for i, weight in enumerate(my_bucket['weight']):
    match = re.match(weight_pattern, weight)
    if match:
        value, unit = match.groups()
        factor = conversion_factors[unit]
        my_bucket.at[i, 'weight'] = float(value) * factor
    else:
        my_bucket.at[i, 'weight'] = None

TypeError: expected string or bytes-like object, got 'NAType'