In [ ]:
#to do list
#remove duplicates - done
#remove null values - done
#remove error in formatting - done

import pandas as pd
import tabula
from tabula import read_pdf


from database_utils import DatabaseConnector 
from database_utils import DataExtractor
from database_utils import DataCleaning

database_connector = DatabaseConnector()
data_extractor = DataExtractor()
data_cleaning = DataCleaning()

pdf_path = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
df2 = tabula.read_pdf(pdf_path, pages='all')
df2 = pd.concat(tabula.read_pdf(pdf_path, pages='all'), ignore_index=True)
#print(df2)

In [ ]:
#Identify and remove null/gibberish values
# unique_card_providers = df2['card_provider'].unique()
# unique_card_providers
my_card_provider = ["VISA 16 digit", "JCB 16 digit", "VISA 13 digit", "VISA 19 digit", "JCB 15 digit", "Diners Club / Carte Blanche", "American Express", "Maestro", "Discover", "Mastercard"]
#df2[df2.card_provider.isin(my_card_provider)].set_index('card_provider')
df3 = df2.dropna()
df3[df3.card_provider.isin(my_card_provider)].set_index('card_provider')
#df3.info()
df3 = df3.reset_index(drop=True)
df3.info()

In [ ]:
df2.to_string('df2.txt')

In [ ]:
df2.info()

In [29]:
df2['card_number'] = df2['card_number'].astype('string')
#df2['card_number']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(3), string(1)
memory usage: 478.5+ KB

In [30]:
df2["expiry_date"]
df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce') 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: datetime64[ns](1), object(2), string(1)
memory usage: 478.5+ KB

C:\Users\zbe17\AppData\Local\Temp\ipykernel_2004\4133245064.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce')
C:\Users\zbe17\AppData\Local\Temp\ipykernel_2004\4133245064.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce')

In [31]:
df2["date_payment_confirmed"]
df2["date_payment_confirmed"] = pd.to_datetime(df2["date_payment_confirmed"], infer_datetime_format=True, errors='coerce')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15276 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1), string(1)
memory usage: 478.5+ KB

C:\Users\zbe17\AppData\Local\Temp\ipykernel_2004\553250491.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df2["date_payment_confirmed"] = pd.to_datetime(df2["date_payment_confirmed"], infer_datetime_format=True, errors='coerce')

In [32]:
df2['card_provider'] = df2['card_provider'].astype('category')
#df2['card_provider']

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15309 non-null  category
 3   date_payment_confirmed  15276 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](2), string(1)
memory usage: 374.6 KB

In [ ]:
df2.describe()

In [ ]:
df2['card_provider'].value_counts()
dfresult = df2['card_provider'].dropna()

In [ ]:
df2['date_payment_confirmed'].value_counts()
dfresult = df2['date_payment_confirmed'].dropna()
print(dfresult)

In [34]:
df2.duplicated().sum()
df2.duplicated(keep='first')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15309 non-null  category
 3   date_payment_confirmed  15276 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](2), string(1)
memory usage: 374.6 KB

In [ ]:
df2['card_number'].value_counts()
dfresult = df2['card_number'].dropna()
print(dfresult)

In [ ]:
df2['expiry_date'].value_counts()
dfresult = df2['expiry_date'].dropna()
print(dfresult)

In [ ]:
df2['card_provider'].value_counts()
dfresult = df2['card_provider'].dropna()
print(dfresult)

In [ ]:
df2['date_payment_confirmed'].value_counts()
dfresult = df2['date_payment_confirmed'].dropna()
print(dfresult)

In [ ]:
df2['expiry_date'].value_counts()

In [ ]:
df2['card_provider'].value_counts()
my_card_provider = ["VISA 16 digit", "JCB 16 digit", "VISA 13 digit", "VISA 19 digit", "JCB 15 digit", "Diners Club / Carte Blanche", "American Express", "Maestro", "Discover", "Mastercard"]
print(my_card_provider)

df2[df2.card_provider.isin(my_card_provider)].set_index('card_provider')

In [ ]:
#Identify any duplicate values
df2.duplicated().sum()
df2.duplicated(keep='first')
df2.info()

In [35]:
#Identify and remove null/gibberish values
my_card_provider = ["VISA 16 digit", "JCB 16 digit", "VISA 13 digit", "VISA 19 digit", "JCB 15 digit", "Diners Club / Carte Blanche", "American Express", "Maestro", "Discover", "Mastercard"]
df2[df2.card_provider.isin(my_card_provider)].set_index('card_provider')
df2.dropna(inplace=True)
df2 = df2.reset_index(drop=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             1311 non-null   string
 1   expiry_date             1311 non-null   datetime64[ns]
 2   card_provider           1311 non-null   category
 3   date_payment_confirmed  1311 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](2), string(1)
memory usage: 32.9 KB

In [ ]:
my_card_provider = ["VISA 16 digit", "JCB 16 digit", "VISA 13 digit", "VISA 19 digit", "JCB 15 digit", "Diners Club / Carte Blanche", "American Express", "Maestro", "Discover", "Mastercard"]
df2[df2.card_provider.isin(my_card_provider)].set_index('card_provider')
df2.info()

In [ ]:
df2.dropna(inplace=True)
df2.info()

In [ ]:
df2 = df2.reset_index(drop=True)
df2.info()