In [2]:
import pandas as pd
import requests


from database_utils import DatabaseConnector 
from database_utils import DataExtractor
from database_utils import DataCleaning

database_connector = DatabaseConnector()
data_extractor = DataExtractor()
data_cleaning = DataCleaning()


if __name__ == "__main__":
    db_ex = DataExtractor()
    print(db_ex.list_number_of_stores("https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores", {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'} ))
df = db_ex.retrieves_store_data("https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores", "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details" , {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'})
df

451

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [1]:
df.info()

NameError: name 'df' is not defined

In [48]:
df.duplicated().sum()

AttributeError: 'NoneType' object has no attribute 'duplicated'

In [41]:
df['address'].describe()
df['address'] = df['address'].astype('string')

In [55]:
df['country_code'].describe()
df['country_code']

0              GB
1              GB
2              DE
3              GB
4              GB
          ...
446            DE
447    B3EH2ZGQAV
448            GB
449            DE
450            DE
Name: country_code, Length: 451, dtype: object

In [25]:
df.to_string('df.txt')

In [4]:
df= df.drop([447])

In [6]:
df= df.drop([437])

In [10]:
df= df.drop([414])

In [12]:
df= df.drop([405])

In [14]:
df= df.drop([381])

In [16]:
df= df.drop([333])

In [26]:
df= df.drop([231])

KeyError: '[231] not found in axis'

In [20]:
df= df.drop([217])

In [22]:
df= df.drop([172])

In [24]:
df= df.drop([63])