In [ ]:
# Things to do:
# Find duplicates - DONE
# Find null values - 
# Correct rows filled with wrong information - DONE
# drop any columns or rows that are missing values - DONE
# convert to correct datatypes - DONE

In [1]:
import pandas as pd
import requests
import boto3


from database_utils import DatabaseConnector 
from database_utils import DataExtractor
from database_utils import DataCleaning

database_connector = DatabaseConnector()
data_extractor = DataExtractor()
data_cleaning = DataCleaning()

data_extractor = DataExtractor()
my_bucket_2 = data_extractor.extract_from_s3_2('s3://myaicorebucket/date_details.json')
print(my_bucket_2)

       timestamp month  year day time_period
0       22:00:06     9  2012  19     Evening  \
1       22:44:06     2  1997  10     Evening
2       10:05:37     4  1994  15     Morning
3       17:29:27    11  2001   6      Midday
4       22:40:33    12  2015  31     Evening
...          ...   ...   ...  ..         ...
120156  22:56:56    11  2022  12     Evening
120157  18:25:20     5  1997  31     Evening
120158  18:21:40     9  2011  13     Evening
120159  19:10:53     7  2013  12     Evening
120160  21:17:12     3  2008  18     Evening

                                   date_uuid
0       3b7ca996-37f9-433f-b6d0-ce8391b615ad
1       adc86836-6c35-49ca-bb0d-65b6507a00fa
2       5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3       1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4       dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...                                      ...
120156  d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157  f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158  4a3b9851-52e1-463c-ac81-1960f141444e
120159  64974909-0d4b-42a2-822a-73b5695e8bfb
120160  55c228c7-14ee-4d46-99a9-01dfc57d1adf

[120161 rows x 6 columns]

In [6]:
my_bucket_2.to_string('my_bucket_2.txt')

In [4]:
my_bucket_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120161 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120123 non-null  datetime64[ns]
 1   month        120161 non-null  object
 2   year         120161 non-null  object
 3   day          120161 non-null  object
 4   time_period  120161 non-null  object
 5   date_uuid    120161 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 6.4+ MB

In [11]:
my_bucket_2["timestamp"]
my_bucket_2["timestamp"] = pd.to_datetime(my_bucket_2["timestamp"], errors='coerce')

In [9]:
my_bucket_2["month"]
my_bucket_2["month"] = pd.to_datetime(my_bucket_2["month"], errors='coerce')

In [10]:
my_bucket_2["year"]
my_bucket_2["year"] = pd.to_datetime(my_bucket_2["year"], errors='coerce')

In [7]:
my_bucket_2['day'] = my_bucket_2['day'].astype('int64')
my_bucket_2['day']

0         19
1         10
2         15
3          6
4         31
          ..
120118    12
120119    31
120120    13
120121    12
120122    18
Name: day, Length: 120123, dtype: int64

In [22]:
my_bucket_2['time_period'] = my_bucket_2['time_period'].astype('category')
my_bucket_2['time_period']

0         Evening
1         Evening
2         Morning
3          Midday
4         Evening
           ...
120156    Evening
120157    Evening
120158    Evening
120159    Evening
120160    Evening
Name: time_period, Length: 120161, dtype: category
Categories (28, object): ['1JCRGU3GIE', '1PZDMCME1C', '1Z18F4RM05', '5MUU1NKRED', ..., 'SQX52VSNMM', 'SSF9ANE440', 'SYID3PBQLP', 'YRYN6Y8SPJ']

In [14]:
my_bucket_2['time_period'].value_counts()
my_bucket_2 = ["Morning", "Evening", "Midday", "Late_Hours"]
print(my_bucket_2)

TypeError: list indices must be integers or slices, not str

In [23]:
my_bucket_2['date_uuid'] = my_bucket_2['date_uuid'].astype('string')
my_bucket_2['date_uuid']

0         3b7ca996-37f9-433f-b6d0-ce8391b615ad
1         adc86836-6c35-49ca-bb0d-65b6507a00fa
2         5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3         1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4         dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
                          ...
120156    d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157    f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158    4a3b9851-52e1-463c-ac81-1960f141444e
120159    64974909-0d4b-42a2-822a-73b5695e8bfb
120160    55c228c7-14ee-4d46-99a9-01dfc57d1adf
Name: date_uuid, Length: 120161, dtype: string

In [24]:
my_bucket_2.duplicated().sum()
my_bucket_2.duplicated(keep='first')

0         False
1         False
2         False
3         False
4         False
          ...
120156    False
120157    False
120158    False
120159    False
120160    False
Length: 120161, dtype: bool

In [5]:
my_bucket_2.dropna(inplace=True)
my_bucket_2 = my_bucket_2.reset_index(drop=True)