In [132]:
#to do list
#remove duplicates - done
#remove null values - done
#remove error in formatting - done

import pandas as pd
import tabula
from tabula import read_pdf


from database_utils import DatabaseConnector 
from database_utils import DataExtractor
from database_utils import DataCleaning

database_connector = DatabaseConnector()
data_extractor = DataExtractor()
data_cleaning = DataCleaning()

pdf_path = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"
df2 = tabula.read_pdf(pdf_path, pages='all')
df2 = pd.concat(tabula.read_pdf(pdf_path, pages='all'), ignore_index=True)
print(df2)

            card_number expiry_date                card_provider
0        30060773296197       09/26  Diners Club / Carte Blanche  \
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
...                 ...         ...                          ...
15304   180036921556789       12/28                 JCB 15 digit
15305   180018030448512       11/24                 JCB 15 digit
15306  3569953313547220       04/24                 JCB 16 digit
15307  4444521712606810       06/27                VISA 16 digit
15308   372031786522735       02/30             American Express

      date_payment_confirmed
0                 2015-11-25
1                 2001-06-18
2                 2000-12-26
3                 2011-02-12
4                 1997-03-13
...                      ...
15304             1997-06-06
15305             2004-06-16
15306             2020-02-05
15307             2008-06-16
15308             2009-02-04

[15309 rows x 4 columns]

In [138]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  string
 1   expiry_date             1312 non-null   datetime64[ns]
 2   card_provider           15309 non-null  category
 3   date_payment_confirmed  15276 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](2), string(1)
memory usage: 374.6 KB

In [134]:
df2['card_number'] = df2['card_number'].astype('string')
df2['card_number']

0          30060773296197
1         349624180933183
2        3529023891650490
3         213142929492281
4            502067329974
               ...
15304     180036921556789
15305     180018030448512
15306    3569953313547220
15307    4444521712606810
15308     372031786522735
Name: card_number, Length: 15309, dtype: string

In [135]:
df2["expiry_date"]
df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce')

C:\Users\zbe17\AppData\Local\Temp\ipykernel_14816\675957959.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce')
C:\Users\zbe17\AppData\Local\Temp\ipykernel_14816\675957959.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2["expiry_date"] = pd.to_datetime(df2["expiry_date"], infer_datetime_format=True, errors='coerce')

In [136]:
df2["date_payment_confirmed"]
df2["date_payment_confirmed"] = pd.to_datetime(df2["date_payment_confirmed"], infer_datetime_format=True, errors='coerce')

C:\Users\zbe17\AppData\Local\Temp\ipykernel_14816\13708617.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df2["date_payment_confirmed"] = pd.to_datetime(df2["date_payment_confirmed"], infer_datetime_format=True, errors='coerce')

In [137]:
df2['card_provider'] = df2['card_provider'].astype('category')
df2['card_provider']

0        Diners Club / Carte Blanche
1                   American Express
2                       JCB 16 digit
3                       JCB 15 digit
4                            Maestro
                    ...
15304                   JCB 15 digit
15305                   JCB 15 digit
15306                   JCB 16 digit
15307                  VISA 16 digit
15308               American Express
Name: card_provider, Length: 15309, dtype: category
Categories (25, object): ['1M38DYQTZV', '5CJH7ABGDR', '5MFWFBZRM9', 'American Express', ..., 'VISA 16 digit', 'VISA 19 digit', 'WJVMUO4QX6', 'XGZBYBYGUW']

In [59]:
df2.describe()

                         expiry_date      date_payment_confirmed
count                           1312                       15276
mean   2032-05-30 13:58:32.195121664  2007-12-14 07:28:13.951296
min              2032-01-01 00:00:00         1992-11-21 00:00:00
25%              2032-03-01 00:00:00         2000-05-15 00:00:00
50%              2032-06-01 00:00:00         2007-12-11 00:00:00
75%              2032-09-01 00:00:00         2015-07-05 12:00:00
max              2032-11-01 00:00:00         2022-11-20 00:00:00

In [47]:
df2['card_provider'].value_counts()
dfresult = df2['card_provider'].dropna()
print(dfresult)

0        Diners Club / Carte Blanche
1                   American Express
2                       JCB 16 digit
3                       JCB 15 digit
4                            Maestro
                    ...
15304                   JCB 15 digit
15305                   JCB 15 digit
15306                   JCB 16 digit
15307                  VISA 16 digit
15308               American Express
Name: card_provider, Length: 15309, dtype: category
Categories (25, object): ['1M38DYQTZV', '5CJH7ABGDR', '5MFWFBZRM9', 'American Express', ..., 'VISA 16 digit', 'VISA 19 digit', 'WJVMUO4QX6', 'XGZBYBYGUW']

In [49]:
df2['date_payment_confirmed'].value_counts()
dfresult = df2['date_payment_confirmed'].dropna()
print(dfresult)

0       2015-11-25
1       2001-06-18
2       2000-12-26
3       2011-02-12
4       1997-03-13
           ...
15304   1997-06-06
15305   2004-06-16
15306   2020-02-05
15307   2008-06-16
15308   2009-02-04
Name: date_payment_confirmed, Length: 15276, dtype: datetime64[ns]

In [98]:
df2.duplicated().sum()
df2.duplicated(keep='first')

10

In [112]:
df2['card_number'].value_counts()
dfresult = df2['card_number'].dropna()
print(dfresult)

0          30060773296197
1         349624180933183
2        3529023891650490
3         213142929492281
4            502067329974
               ...
15304     180036921556789
15305     180018030448512
15306    3569953313547220
15307    4444521712606810
15308     372031786522735
Name: card_number, Length: 15309, dtype: object

In [139]:
df2['expiry_date'].value_counts()
dfresult = df2['expiry_date'].dropna()
print(dfresult)

16      2032-02-01
19      2032-09-01
26      2032-03-01
32      2032-04-01
64      2032-09-01
           ...
15236   2032-04-01
15240   2032-04-01
15268   2032-07-01
15279   2032-01-01
15294   2032-08-01
Name: expiry_date, Length: 1312, dtype: datetime64[ns]

In [109]:
df2['card_provider'].value_counts()
dfresult = df2['card_provider'].dropna()
print(dfresult)

0        Diners Club / Carte Blanche
1                   American Express
2                       JCB 16 digit
3                       JCB 15 digit
4                            Maestro
                    ...
15304                   JCB 15 digit
15305                   JCB 15 digit
15306                   JCB 16 digit
15307                  VISA 16 digit
15308               American Express
Name: card_provider, Length: 15309, dtype: object

In [110]:
df2['date_payment_confirmed'].value_counts()
dfresult = df2['date_payment_confirmed'].dropna()
print(dfresult)

0        2015-11-25
1        2001-06-18
2        2000-12-26
3        2011-02-12
4        1997-03-13
            ...
15304    1997-06-06
15305    2004-06-16
15306    2020-02-05
15307    2008-06-16
15308    2009-02-04
Name: date_payment_confirmed, Length: 15309, dtype: object

In [140]:
df2['expiry_date'].value_counts()

expiry_date
2032-10-01    148
2032-01-01    135
2032-06-01    127
2032-09-01    125
2032-05-01    125
2032-08-01    124
2032-07-01    118
2032-03-01    117
2032-04-01    112
2032-02-01    103
2032-11-01     78
Name: count, dtype: int64

In [144]:
df2['card_provider'].value_counts()
my_card_provider = ["VISA 16 digit", "JCB 16 digit", "VISA 13 digit", "VISA 19 digit", "JCB 15 digit", "Diners Club / Carte Blanche", "American Express", "Maestro", "Discover", "Mastercard"]
print(my_card_provider)

df2[df2.card_provider.isin(my_card_provider)].set_index('card_provider')

['VISA 16 digit', 'JCB 16 digit', 'VISA 13 digit', 'VISA 19 digit', 'JCB 15 digit', 'Diners Club / Carte Blanche', 'American Express', 'Maestro', 'Discover', 'Mastercard']

,card_number,expiry_date,date_payment_confirmed
card_provider,,,
Diners Club / Carte Blanche,30060773296197,NaT,2015-11-25
American Express,349624180933183,NaT,2001-06-18
JCB 16 digit,3529023891650490,NaT,2000-12-26
JCB 15 digit,213142929492281,NaT,2011-02-12
Maestro,502067329974,NaT,1997-03-13
...,...,...,...
JCB 15 digit,180036921556789,NaT,1997-06-06
JCB 15 digit,180018030448512,NaT,2004-06-16
JCB 16 digit,3569953313547220,NaT,2020-02-05
VISA 16 digit,4444521712606810,NaT,2008-06-16
American Express,372031786522735,NaT,2009-02-04